.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App h1{
  text-align: center;
}

.App h2{
  text-align: center;
}

.App p{
  background-color: #d9ecf8;
  padding: 6px 10px;
  margin :1px 100px;
  border: 0.5px skyblue;
  text-align: center;
  box-sizing: border-box;
  display: block;
  color: #86a3b6;
}

.App label{
  text-align: left;
  margin-left: 100px;
  display: block;
}

.App input{
   margin-left: 100px;
   margin-right: 10px;
}

.App Button{
  font-size: small;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0.1%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
